/* Page + App Layout */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.disabled {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.panel {
  box-shadow: 3px 3px 3px #ddd;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
}
#discochat {
  width: 100%;
  height: 100%;
}
#dc-map {
  width: 100%;
  height: 100%;
}
#dc-greet {
  display: none;
  padding: 1em;
  width: 261px;
  height: 55px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10; /* make sure it's above the overlay */
}
#dc-chat {
  max-width: 400px; /* @todo should be max-width, once there's something in there to give it shape */
  float: right;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 30px;
  margin-left: 15px;
  z-index: 10; /* make sure it's above the overlay */
}
#log {
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 61px;
  margin-top: 2px; /* give a buffer to the top border on scroll */
}
#log .avatar {
  border-radius: 50%;
}
#message-box {
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: solid 1px #ccc;
  padding: 5px 8px;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#message {
  width: 100%;
  padding: 3px;
  outline: none;
  border: 0;
  font-size: 16px;
}

/* Chat Messages */
.dc-message {
  margin: 0 0 30px 0;
}
.message {
  text-shadow: 0 0 1px #111;
  line-height: 1.2em;
}
.system .message,
.me .message {
  text-shadow: none;
}
.dc-message .message-container {
  margin: 0 50px 0 0px;
}
.dc-message.me .message-container {
  margin: 0 0 0 50px;
}
.dc-message .tail {
  float: right;
  background: #489dff;
  width: 10px;
  height: 20px;
  margin-right: 5px;
  margin-top: 10px;
}
.dc-message.me .tail {
  float: left;
  margin-left: 5px;
  background: #eee;
}
.dc-message .tail span {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
}
.dc-message .tail .top {
  border-radius: 0 0 0 10px;
}
.dc-message .tail .bot {
  border-radius: 10px 0 0 0;
}
.dc-message.me .tail .top {
  border-radius: 0 0 10px 0;
}
.dc-message.me .tail .bot {
  border-radius: 0 10px 0 0;
}
.dc-message .avatar {
  float: right;
}
.dc-message.me .avatar {
  float: left;
}
.dc-message .message {
  background: #489dff;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 0 15px 0 0;
}
.dc-message.me .message {
  margin: 0 0 0 15px;
  background: #eee;
  color: #222;
}
.dc-message .utc {
  float: right;
  opacity: .6;
  font-size: 10px;
  margin: 0 25px 0 0;
}
.dc-message.me .utc {
  margin: 0 10px 0 0;
}
.dc-message .name {
  opacity: .6;
  font-size: 10px;
  margin: 0 0 0 10px;
}
.dc-message.me .name {
  margin: 0 0 0 25px;
}
.dc-message.system .message {
  border-radius: 0;
  background: none;
  font-size: 11px;
  color: #888;
  text-align: center;
}

/* Map Markers: "Large" (default), Medium (75% of large) and Small (50% of large) */
.map-marker {
  position: absolute;
  background: url( /img/disco-chat-pin.png );
  background-size: 100%;
  width: 75px;
  height: 90px;
  padding: 8px;
  margin: -90px 0 0 -37.5px; /* based on disco-chat-pin.png dims */
}
.map-marker img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.map-marker.medium {
  width: 56.25px;
  height: 67.5px;
  margin: -28.125px 0 0 -33.75px;
  padding: 5px;
}
.map-marker.medium img {
  width: 45px;
  height: 45px;
}
.map-marker.small {
  width: 37.5px;
  height: 44px;
  margin: -18.75px 0 0 -22.5px;
  padding: 3px;
}
.map-marker.small img {
  width: 30px;
  height: 30px;
}
