* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.disabled {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
#discochat {
  width: 100%;
  height: 100%;
}
#dc-map {
  width: 100%;
  height: 100%;
}
#dc-greet {
  display: none;
  padding: 1em;
  width: 250px;
  height: 150px;
  position: absolute;
  top: 100px;
  left: 100px;
  background: #eee;
  z-index: 10; /* make sure it's above the overlay */
}
#dc-chat {
  box-shadow: 3px 3px 3px #ddd;
  background: #fff;
  width: 400px; /* @todo should be max-width, once there's something in there to give it shape */
  float: right;
  position: absolute;
  top: 2%;
  bottom: 2%;
  right: 1%;
  border: solid 1px #ccc;
  z-index: 10; /* make sure it's above the overlay */
}
#message-box {
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: solid 1px #ccc;
  padding: 5px 8px;
}
#message {
  width: 100%;
  padding: 3px;
  outline: none;
  border: 0;
  font-size: 16px;
}
